<h1>Create a Team and Heroes!</h1>

<form method="/team" action="POST">
  
  <label>Team Name:</label>
  <input type="text" name="team_name">
  
  <label>Team Motto:</label>
  <input type="text" name="team_motto"><br>
  
  <h2>Hero 1</h2><br>
  
  <label>Hero's Name:</label>
  <input type="text" name="hero_name">
  
  <label>Hero's Power:</label>
  <input type="text" name="hero_power">
  
  <label>Hero's Biography:</label>
  <input type="text" name="hero_biography"><br>
  
  <h2>Hero 2</h2><br>
  
  <label>Hero's Name:</label>
  <input type="text" name="hero_name">
  
  <label>Hero's Power:</label>
  <input type="text" name="hero_power">
  
  <label>Hero's Biography:</label>
  <input type="text" name="hero_biography"><br>
  
  <h2>Hero 1</h2><br>
  
  <label>Hero's Name:</label>
  <input type="text" name="hero_name">
  
  <label>Hero's Power:</label>
  <input type="text" name="hero_power">
  
  <label>Hero's Biography:</label>
  <input type="text" name="hero_biography">
  
  
  
  <p><input type="submit"></p>
  
</form>
